* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:rgba(13, 17, 24, 0.986);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:100vh;
    padding:20px;
}
h1{
    color: #989999;
    margin-bottom:15px;
    max-width: 600px;
}
.choicesTextarea{
    outline:none;
    background-color:#fff;
    border-radius: 5px;
    max-width: 600px;
    width: 100%;
    padding: 15px;
    display: block;
    height:8rem;
    resize: none;
    font-size: 16px;
}
.choicesTextarea:focus{
     border-color: #08426e;
}

::-webkit-input-placeholder{
    color: #535455;
    font-size: 16px;
}

.tags{
    margin-top:15px;
    max-width: 600px;
}

.tags > .tag{
    padding: 8px 18px;
    background-color:#194cd8;
    color: #fff;
    display:inline-block;
    margin:5px;
}
.tags> .tag.highlight{
    background-color: #e27f0e;
}